@import '../../../design/index';

.button {
  display: flex;
  align-items: center;
  border: 1px solid $color-primary;
  padding: spacing-size(small) spacing-size(medium);
  background-color: $color-secondary;
  @include no-select;

  &.invert {
    background-color: $color-primary;
    color: $color-secondary;
  }
}

.button-icon {
  height: 1em;
  margin-left: spacing-size(small);

  @include breakpoint-down(extra-small) {
    height: 0.875em;
  }

  &.invert {
    filter: invert(1);
  }
}

@include breakpoint-down(small) {
  .button-content {
    display: none;
  }

  .button-icon {
    margin-left: 0;
  }
}
