<main *ngIf="vm$ | async as vm" class="main-container">
  <section class="quote-container">
    <h1 class="quote">{{ vm.quote.content }}</h1>
    <h2 class="author">{{ vm.quote.author }}</h2>
    <div class="action-container">
      <qu-button
        class="button"
        altText="Icon showing a refresh symbol"
        [icon]="icon.Refresh"
        (clicked)="fetchQuote()"
      >
        Next
      </qu-button>

      <qu-button
        *ngIf="!vm.isSaved"
        class="button"
        altText="Icon indicating that the Quote is not saved"
        [icon]="icon.FavoriteBorder"
        (clicked)="saveQuote(vm.quote)"
      >
        Save
      </qu-button>

      <qu-button
        *ngIf="vm.isSaved"
        class="button"
        altText="Icon indicating that the Quote is saved"
        [icon]="icon.Favorite"
        [inverted]="true"
        (clicked)="removeQuote(vm.quote._id)"
      >
        Saved
      </qu-button>

      <qu-timer (tick)="fetchQuote()"></qu-timer>
    </div>
  </section>
  <section
    *ngIf="vm.savedQuotes && vm.savedQuotes.length"
    class="saved-container"
  >
    <qu-quote-saved-list
      [quotes]="vm.savedQuotes"
      (quoteRemoved)="removeQuote($event)"
    ></qu-quote-saved-list>
  </section>
</main>
