@import '../../../design/index';

.quote-list-item {
  display: flex;
  padding-bottom: spacing-size(medium);

  &:last-child {
    padding-bottom: 0;
  }
}

.quote-wrapper {
  flex-grow: 1;
}

.quote {
  font-size: font-size(medium);
  @include quote;
}

.author {
  margin-top: spacing-size(small);
  font-size: font-size(small);
  @include author;
}

.saved-button {
  flex: 0 0 30px;
  height: 30px;
  border: 0;
  padding: 0;
  background-color: transparent;

  .button-icon {
    height: 20px;
  }
}
