<main class="main-container" *ngIf="vm$ | async as vm">
  <section class="quote-container">
    <h1 class="quote">{{ vm.quote.quote }}</h1>
    <h2 class="author">{{ vm.quote.author }}</h2>
    <div class="button-container">
      <button class="button" (click)="fetchQuote()">
        Next
        <img
          class="button-icon"
          [src]="icon.Refresh"
          alt="Icon showing a refresh symbol"
        />
      </button>

      <button *ngIf="!vm.isSaved" class="button" (click)="saveQuote(vm.quote)">
        Save
        <img
          class="button-icon"
          [src]="icon.FavoriteBorder"
          alt="Icon indicating that the Quote is not saved"
        />
      </button>

      <button
        *ngIf="vm.isSaved"
        class="button invert"
        (click)="removeQuote(vm.quote.id)"
      >
        Saved!
        <img
          class="button-icon invert"
          [src]="icon.Favorite"
          alt="Icon indicating that the Quote is saved"
        />
      </button>
    </div>
  </section>
  <section
    *ngIf="vm.savedQuotes && vm.savedQuotes.length"
    class="saved-container"
  >
    <qu-quote-saved-list
      [quotes]="vm.savedQuotes"
      (quoteRemoved)="removeQuote($event)"
    ></qu-quote-saved-list>
  </section>
</main>
