<main class="main-container" *ngIf="vm$ | async as vm">
  <section class="quote-container">
    <h1 class="quote">{{ vm.quote.quote }}</h1>
    <h2 class="author">{{ vm.quote.author }}</h2>
    <div class="button-container">
      <qu-button
        altText="Icon showing a refresh symbol"
        [icon]="icon.Refresh"
        (click)="fetchQuote()"
        class="button"
      >
        Next
      </qu-button>

      <qu-button
        *ngIf="!vm.isSaved"
        altText="Icon indicating that the Quote is not saved"
        [icon]="icon.FavoriteBorder"
        (click)="saveQuote(vm.quote)"
        class="button"
      >
        Save
      </qu-button>

      <qu-button
        *ngIf="vm.isSaved"
        altText="Icon indicating that the Quote is saved"
        inverted
        [icon]="icon.Favorite"
        (click)="removeQuote(vm.quote.id)"
        class="button"
      >
        Saved
      </qu-button>
      <qu-timer (tick)="fetchQuote()"></qu-timer>
    </div>
  </section>
  <section
    *ngIf="vm.savedQuotes && vm.savedQuotes.length"
    class="saved-container"
  >
    <qu-quote-saved-list
      [quotes]="vm.savedQuotes"
      (quoteRemoved)="removeQuote($event)"
    ></qu-quote-saved-list>
  </section>
</main>
