@import '../design/index';

.main-container {
  display: flex;
  height: 100%;
  padding: spacing-size(medium);

  @include breakpoint-down(medium) {
    flex-direction: column;
  }
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.saved-container {
  flex: 0 0 400px;
  overflow-y: auto;

  @include breakpoint-down(medium) {
    flex: 400px;
  }
}

.quote {
  @include quote;
  max-width: 75%;
  font-size: font-size(large);
}

.author {
  @include author;
  margin-top: spacing-size(small);
  font-size: font-size(medium);
}

.action-container {
  display: flex;
  margin-top: spacing-size(medium);
  margin-bottom: spacing-size(large);
}

.button {
  margin-right: spacing-size(medium);
}
