<ng-container *ngIf="state$ | async as state">
  <qu-button
    *ngIf="!state.isTicking"
    class="button"
    altText="Icon showing a play symbol"
    [icon]="icon.Play"
    (clicked)="start.next()"
  >
    Start
  </qu-button>

  <qu-button
    *ngIf="state.isTicking"
    class="button"
    altText="Icon showing a stop symbol"
    [icon]="icon.Stop"
    (clicked)="stop.next()"
  >
    Stop
  </qu-button>
</ng-container>

<label>
  <input
    class="input"
    aria-label="Interval"
    type="number"
    min="0"
    [formControl]="intervalControl"
  />
  sec.
</label>
