<ng-container *ngIf="state$ | async as state">
  <qu-button
    *ngIf="!state.isTicking"
    altText="Icon showing a play symbol"
    [icon]="icon.Play"
    (click)="start.next()"
    class="button"
  >
    Start
  </qu-button>

  <qu-button
    *ngIf="state.isTicking"
    altText="Icon showing a stop symbol"
    [icon]="icon.Stop"
    (click)="stop.next()"
    class="button"
  >
    Stop
  </qu-button>
</ng-container>

<label>
  <input [formControl]="intervalControl" type="number" class="input" />
  sec.
</label>
