$spacing-sizes: (small: 8px, medium: 16px, large: 32px);
$spacing-multiplier: 1;

@function spacing-size($size) {
  @return map-get($spacing-sizes, $size) * $spacing-multiplier;
}

$breakpoints: (
  small: 450px,
  medium : 900px
);

@mixin breakpoint-down($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint) - 1) {
    @content;
  }
}
