$spacing-sizes: (
  small: 0.5rem,
  medium: 1rem,
  large: 2rem
);
$spacing-multiplier: 1;

@function spacing-size($size) {
  @return map-get($spacing-sizes, $size) * $spacing-multiplier;
}

$breakpoints: (
  extra-small: 350px,
  small: 460px,
  medium: 1000px
);

@mixin breakpoint-down($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint) - 1) {
    @content;
  }
}
