@import '../../src/design/colors';
@import '../../src/design/layout';

@mixin quote {
  &::before {
    content: '❝';
  }

  &::after {
    content: '❞';
  }
}

@mixin author {
  &::before {
    content: '- ';
  }
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
