@import '../../src/design/colors';
@import '../../src/design/layout';

@mixin quote {
  &::before {
    content: '❝';
  }

  &::after {
    content: '❞';
  }
}

@mixin author {
  &::before {
    content: '- ';
  }
}
