@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');
@import './design/index';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: $color-text;
}

body,
button,
input {
  font-size: font-size(medium);
  line-height: 1.3em;
  font-family: Anonymous Pro, system-ui, -apple-system, 'Segoe UI', 'Roboto',
    'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p,
h1,
h2,
body {
  font-weight: 400;
  margin: 0;
}

button {
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
